<div class='container'>
  <div class='row'>
    <div class='col m8 offset-m2'>
      <mz-card class="grey lighten-4">
          <mz-card-content class="center">
            <div class="green-text">
              <i mz-icon-mdi 
                [align]="'center'"
                [icon]="'check-circle'"
                [size]="'48px'">
              </i>
            </div>
            <h5><strong>Thank You!</strong></h5>
            <div>Your feedback is very important for us.</div>
          </mz-card-content>
          <mz-card-action>
              <div class="center">
                <button class="waves-effect waves-light btn" [routerLink]="'/forms'">Go Back to My Forms</button>
              </div>
          </mz-card-action>
      </mz-card>
    </div>
  </div>
</div>
